#
# SPDX-FileCopyrightText: 2024 The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on early-boot
    # IR device (LIRC or SPI)
    chown system system /dev/lirc0
    chown system system /dev/spidev7.1

service vendor.ir-default /vendor/bin/hw/android.hardware.ir-service.lineage.xiaomi_sdm660
    class hal
    user system
    group system
    shutdown critical
